
@{
    ViewBag.Title = "الاشعارات";
}

<div class="gradient-Header animate__animated animate__fadeInLeft">
    <div class="gradient-child">
        <h1>الاشعارات</h1>
    </div>
</div>

<a class="btn btn-primary" id="AddButton" style="margin-bottom:10px;margin-top:15px;"
   onclick="PopupForm('@Url.Action("AddEditNotif","Notif")')">
    اضافة <i class="fa fa-plus"> </i>
</a>
<table id="table" class="table table-bordered table-hover" style="width:100%">
    <thead class="thead-light">
        <tr class="rows">
            <th></th>
            <th>العنوان</th>
            <th>التاريخ</th>
            <th>الكلية</th>
            <th>المرحلة</th>
            <th>القسم</th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts{
    <script>
        var buttonColumn = {
            "data": "Id",
            "render": RenderActionButtonsAdmin,
            "orderable": false,
            "searchable": false,
            "width": "100px"
        }
        $(document).ready(
           GetDataTable('table', '/Notif/ViewAllNotifs',
               [
                   { data: null, width: "4%" },
                   { data: "Title" },
                   {
                       data: "Date",
                       render: convertJsonDateToShortDate
                   },
                   {
                       data: { FacultyName: "FacultyName", FacultyId: "FacultyId" },
                       render: renderFaculty
                   },

                     {
                         data: { LevelName: "LevelName", LevelId: "LevelId" },
                         render: renderLevel
                     },
                     {
                         data: { DivisionName: "DivisionName", DivisionId: "DivisionId" },
                         render: renderDivision
                     },
                   buttonColumn
               ])
       );


        function RenderActionButtonsAdmin(Id) {
            return "<a class='btn btn-success' style='margin-right:4px;' onclick=PopupForm('@Url.Action("AddEditNotif", "Notif")/" + Id + "')><i class='fa fa-pencil'></i></a>\
                    <a class='btn btn-danger' style='margin-right:1px;' onclick=Delete('@Url.Action("DeleteNotif", "Notif")/" + Id + "','الاشعار؟')><i class='fa fa-trash'></i></a>"
        };

        function renderFaculty(data) {
            if (data.FacultyId == null) { return '<h4><span class="label label-danger badge-pill">الكل</span></h4>'; }
            else { return '<h4><span class="label label-success badge-pill">' + data.FacultyName + '</span></h4>'; }
        };
        function renderLevel(data) {
            if (data.LevelId == null) { return '<h4><span class="label label-danger badge-pill">الكل</span></h4>'; }
            else { return '<h4><span class="label label-success badge-pill">' + data.LevelName + '</span></h4>'; }
        };
        function renderDivision(data) {
            if (data.DivisionId == null) { return '<h4><span class="label label-danger badge-pill">الكل</span></h4>'; }
            else { return '<h4><span class="label label-success badge-pill">' + data.DivisionName + '</span></h4>'; }
        };
    </script>
    <script>
        AnimateButton2('AddButton');
    </script>
}

