
@{
    ViewBag.Title = "الاقسام";
}

<div class="gradient-Header animate__animated animate__fadeInLeft">
    <div class="gradient-child">
        <h1>الاقسام</h1>
    </div>
</div>

<a class="btn btn-primary" id="AddButton" style="margin-bottom:10px;margin-top:15px;"
   onclick="PopupForm('@Url.Action("AddEditDivision","Division")')">
    اضافة <i class="fa fa-plus"> </i>
</a>
<table id="table" class="table table-bordered table-hover" style="width:100%">
    <thead class="thead-light">
        <tr class="rows">
            <th></th>
            <th>اسم القسم</th>
            <th>اسم المرحلة</th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts{
<script>   
    var buttonColumn = {
        "data": "Id",
        "render": RenderActionButtonsAdmin,
        "orderable": false,
        "searchable": false,
        "width": "100px"
    }
        $(document).ready(
           GetDataTable('table', '/Division/ViewAllDivisions',
               [
                   { data: null, width: "4%" },
                   { data: "Name" },
                   { data: "LevelName" },
                   buttonColumn,
               ])
       );



        function RenderActionButtonsAdmin(Id) {
            return "<a class='btn btn-success' style='margin-right:4px;' onclick=PopupForm('@Url.Action("AddEditDivision", "Division")/" + Id + "')><i class='fa fa-pencil'></i></a>\
                    <a class='btn btn-danger' style='margin-right:1px;' onclick=Delete('@Url.Action("DeleteDivision", "Division")/" + Id + "','القسم؟')><i class='fa fa-trash'></i></a>"
        };

       
</script>
    <script>
        AnimateButton2('AddButton');
    </script>
}

